<!-- Tabs  -->
<div class="footer">
    Flix Logo ©
   
<<<<<<< HEAD
=======
    <img src="" alt="Flix Logo" class="foot">
>>>>>>> 8d46a8bc0c1e02c789377e5b3e77cae371aa157a

   
    
</div>
</body>
</html>