<!DOCTYPE html>

< lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" , initial-scale="1" />
  <link rel="stylesheet" href="/css/index.css" />
  <title>Flix.Net</title>
</head>
<!-- Tabs  -->

<html>
    <body>
    <div class="tabs">
      <a href="/">
        <img src=";public/stylesheets/images/Flix-Logo.png" alt="Flix Logo" class="logo" />
      </a>

      <div class="flex-wrapper">
        <div class="flex-children">
            <p>test</p>
        </div>
      </div>
    </div>

