<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1>  
    <link rel="stylesheet" href="/css/index.css">
    <title> Anime Events </title>
</head>
<body>
<!-- Tabs  -->

<div class="tabs" >
    <a href="/" >
        <img src="/images/Flix-Logo.png" alt="Flix Logo" class="logo">
    </a>
   
     <!-- <div class="tabsRight">
    <a href="/connections" >Connection Page | </a>
    <a href="/new"> New Connection | </a>
    
        
    <%if(!user) {%>
        <a href='/users/new'>Sign Up</a>
        <a href='/users/login'>Login</a>
    <%} else {%>
        <a href='/users/profile'>Profile</a>
        <a href='/users/logout'>Logout</a>
    </br>
    </br>
</br>
</br>



    </br>
        <div class="headerName">Welcome, <%=firstName%></div>
        </div>
    <%}%> -->

<!--     
</div>
</div>

<% if(errorMessages.length > 0) {%>
    <% errorMessages.forEach(message=>{%>
        <div class='error'>
            <%=message%>
        </div>
        <%});%>
            <%}%>

                <% if(successMessages.length > 0) {%>

                    <% successMessages.forEach(message=>{%>
                        <div class='success'>
                            <%=message%>
                        </div>
                        <%});%>
                            <%}%> -->
