<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
=======

>>>>>>> 8d46a8bc0c1e02c789377e5b3e77cae371aa157a
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" , initial-scale="1" />
  <link rel="stylesheet" href="/stylesheets/header.css" />
  <title>Flix.Net</title>
</head>
    <body>
<<<<<<< HEAD
    <div class="tabs">
      <a href="/">
        <img src="/images/Flix-Logo.png" alt="Flix Logo" class="logo" />
      </a>

      <div class="flex-wrapper">
        <div class="flex-children">
            <p>test</p>
        </div>
      </div>
    </div>
=======
        <div class="flex-wrapper">
            <div class="image">
                <a href="/">
                    <img src="/images/Flix-Logo.png" alt="Flix Logo" class="logo" />
                </a>
            </div>
            <div class="nav">
                <div class="nav-child">
                    <a>Home</a>
                </div>
                <div class="nav-child">
                    <a>My Profile</a>
                </div>
                <div class="nav-child">
                    <a>Sign In</a>
                </div>
                <div class="nav-child">
                    <a>Create Account</a>
                </div>
            </div>
        </div>

>>>>>>> 8d46a8bc0c1e02c789377e5b3e77cae371aa157a
