<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/boot.css" />
    <link rel="stylesheet" href="/stylesheets/boot2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Trirong"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins"
    />
    <title>Flix.Net</title>
  </head>
  <body>
    <div class="flex-wrapper">
      <div class="image">
        <a href="/">
          <img src="/images/Flix-Logo.png" alt="Flix Logo" class="logo" />
        </a>
      </div>
      <div class="nav">
        <div class="nav-child">
          <a href="/"> Home </a>
        </div>

        <%if(!user) {%>
        <div class="nav-child">
          <a href="/users/new"> Sign Up</a>
        </div>
        <div class="nav-child">
          <a href="/users/login">Login</a>
        </div>
        <%} else {%>
        <div class="nav-child">
          <a href="/users/profile">Profile</a>
        </div>
        <div class="nav-child">
          <a href="/users/logout">Logout</a>
        </div>
        <br />
        <div class="SearchBar">
          <form action="/search?source=hp" method="post">
            <input
              type="search"
              name="movieSearch"
              id="movieSearch"
              placeholder="Search.."
            />
            <div class="checkboxes">
              <input type="checkbox" name="netflix" />Netflix
              <input type="checkbox" name="amazon" />Amazon Prime
              <input type="checkbox" name="fubo" />FuboTV
              <input type="checkbox" name="hulu" />Hulu
              <input type="checkbox" name="hbo" />HBO Max
              <input type="checkbox" name="disney" />Disney+
              <input type="checkbox" name="paramount" />Paramount +
              <input type="checkbox" name="BroadwayHD" />BroadwayHD
              <input type="checkbox" name="Spectrum" />Spectrum
              <input type="checkbox" name="DIRECTV" />DIRECTV
              <input type="checkbox" name="Dekkoo" />Dekkoo
              <input type="checkbox" name="FXNow" />FXNow
              <input type="checkbox" name="AMC" />AMC
              <input type="checkbox" name="Starz" />Starz
              <input type="checkbox" name="PureFlix" />PureFlix

              <head>
                <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css"> -->
                <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
                <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
              </head>
            </div>
            <input type="submit" value="Submit" />
          </form>
        </div>
        <%}%>
      </div>
    </div>

    <% if(errorMessages.length > 0) {%> <% errorMessages.forEach(message=>{%>
    <div class="error"><%=message%></div>
    <%});%> <%}%> <% if(successMessages.length > 0) {%> <%
    successMessages.forEach(message=>{%>
    <div class="success"><%=message%></div>
    <%});%> <%}%>
  </body>
</html>
