<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" , initial-scale="1" />
  <link rel="stylesheet" href="/stylesheets/header.css" />
  <title>Flix.Net</title>
</head>
<!-- Tabs  -->

<html>
  <body>
    <div class="flex-wrapper">
      <div class="image">
        <a href="/">
          <img src="/images/Flix-Logo.png" alt="Flix Logo" class="logo" />
        </a>
      </div>
      <div class="nav">
        <div class="nav-child">
          <a href="/"> Home </a>
        </div>
        
        
        <div class="nav-child">
          <a> My Profile </a>
        </div>

         <div class="nav-child">
          <a href="/logout"> Logout </a>
        </div>
        


        <div class="nav-child">
          <a href="/users"> Sign In </a>
        </div>
        <div class="nav-child">
          <a href="/users/newUser"> Create Account </a>
        </div>

      
      </div>
    </div>
  </body>
</html>
