<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1>  
    <link rel="stylesheet" href="/css/index.css">
    <title> Flix.Net</title>
</head>
<body>
<!-- Tabs  -->

<div class="flex-wrapper" >
    <div class="image">
    <a href="/" >
    <img src="/images/Flix-Logo.png" alt="Flix Logo" class="logo">
    </a>
   </div>
     <div class="nav">
        <div class="nav-child">
            <a href="/"> Home </a>
          </div>

  
    <%if(!user) {%>
        <div class="nav-child"> 
        <a href='/users/new' > Sign Up</a>
        </div>
        <div class="nav-child"> 
        <a href='/users/login' >Login</a>
        </div>
    <%} else {%>
        <div class="nav-child"> 
        <a href='/users/profile' >Profile</a>
        </div>
        <div class="nav-child"> 
        <a href='/users/logout'>Logout</a>
        </div>
    </br>
    </br>
</br>
</br>


    <%}%>

    
</div>
</div>

<% if(errorMessages.length > 0) {%>
    <% errorMessages.forEach(message=>{%>
        <div class='error'>
            <%=message%>
        </div>
        <%});%>
            <%}%>

                <% if(successMessages.length > 0) {%>

                    <% successMessages.forEach(message=>{%>
                        <div class='success'>
                            <%=message%>
                        </div>
                        <%});%>
                            <%}%>
