<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
<<<<<<< HEAD
    <p>Welcome to <%= title %></p>
=======
    <p>Welcome to Brians Branch></p>
>>>>>>> e0253c31484de089617f4f6433da45db75fab8dd
  </body>
</html>
