<%- include('../partials/header.ejs')%>

<div class="form-container">
  <form action="/users/login" class="forms" method="POST">
    <h1>Sign In</h1>
    <p>Please fill in this form to sign into your acccount.</p>
    <div class="form-children">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required />
    </div>
    <div class="form-children">
      <label for="password"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="password"
        required
      />
    </div>
      <button type="submit">Login</button>
    </div>
  </form>
</div>
<%- include('../partials/footer.ejs')%>
